.sider {
  min-height: 100vh;
  background: #333744;
}
.headTitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
  margin-left: 10px;
  font-family: -apple-system;
}
.logo {
  height: 100px;

}
:global {
  .ant-menu {
    background-color: #333744;
  }

  .ant-card-head-title {
    font-size: 16px !important;
    text-align: left;
  }


  .ant-card-meta-title {
    color: #ffffff;
    font-size: 20px;
  }

  .ant-card-meta-description {
    color: #ffffff;
    font-size: 16px;
  }

  .ant-layout-footer {
    text-align: center;
  }
  .ant-card-head-title {
    font-size: 20px;
  }
  .ant-menu-item {
    height: 50px !important;
    text-align: center;
    margin: 50px 0 !important;
    span {
      font-size: 15px;
      position: relative;
      top: 30%;
    }
    .ant-icon {
      font-size: 20px;
      position: relative;
      top: 30%;
    }
  }

  .ant-layout-header {
    background: #ffffff;
    text-align: left;
  }
  .trigger {
    cursor: pointer;
    color: white;
  }
}


.outsiderWrapper {
  margin: auto;
  p {
    margin-bottom: 0 !important;
  }
  :global {
    .ant-card-head-title {
      color: rgba(0,0,0,.45);
      font-size: 14px !important;
      line-height: 22px;
    }
    .ant-card-head {
      border-bottom: none;
    }
    .ant-card-body {
      padding: 0 24px;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    .cardGroupWrapper {
      display: inline-block;
      margin: 20px 50px;
      :global {
        .ant-card {
          display: inline-block;
          margin-right: 10px;
        }
      }

      .ant-card-head {
        border: none;
        height: 40px;
      }

      .cardContentItem {
        margin-right: 20px;
      }
    }
  }
}

.timingWrapper {
  margin:20px;
  .indexTitle {
    font-size: 16px;
    color: #9a9a9a;
  }
  .unit {
    margin-left: 5px;
  }
  p {
    font-size: 25px;
    font-weight: 500;
    color: #00C1DE;
    margin-bottom: 10px;
  }
  .loadType {
    font-size: 15px;
  }
  :global {
    .ant-card-body {
      padding: 10px 10px 10px 20px;
    }
  }
}

.pageStatsWrapper {
  margin: 20px;
  .gridTitle {
    border-bottom: 1px solid #e8e8e8;
  }
  :global {
    .ant-card-grid {
      width: 50%;
      padding-top: 10px;
      margin: 0 20px;
    }
  }
}

.adviceContainer {
  :global {
    .ant-table-thead {
      font-size: 16px;
    }
    .ant-tabs-tab {
      margin: 0 50px 0 50px;
    }
  }
}

.pageHeader {
  background: #ffffff;
  width: 100%;
  height: 150px;
  margin-top: 5px;
  padding-top: 20px;
  .leftContainer {
    margin: 0 0 0 45px;
    .contentTitle {
      font-size: 20px;
      font-weight: 500;
      color: rgba(0,0,0,.85);
    }
    .contentIntro {
      font-size: 13px;
      margin: 10px 0 0 50px;
      color: rgba(0,0,0,.45);
    }
  }
  .rightContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    .number {
      font-size: 25px;
      font-weight: 600;
      margin: 0 !important;
    }
  }
}

.mainContainer {
  margin: 20px;
  :global {
    .ant-card-head-title {
      font-size: 18px !important;
      color: rgba(0,0,0,.65);
    }
    .ant-card-body {
      padding: 0;
    }
  };
}