.App {
  text-align: center;
  height: 100%;
  width: 100%;
  .sider {
    min-height: 100vh;
  }

  .logo {
    height: 250px;
  }
  :global {
    .ant-menu-item {
      height: 100px;
    }
    .ant-layout-header {
      background: white;
      text-align: left;      
    }
    .trigger {
      cursor: pointer
    }
  }
}


