.App {
  background: url("./asserts/Lighthouse.jpg") no-repeat;
  height: 949px;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
    .inputWrapper {
      padding: 50px 0;
      margin: auto;
      width: 80%;
      height: 70%;
      background: black;
      opacity: 0.8;
      border-radius: 50px;
      box-shadow:0 0 3px 10px black;
    }
}


